
# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

PAGINATION_LIMIT = 100
VIDEO_PAGINATION_LIMIT = 25

VIEW_TIMEOUT = 60 #Decide interval between two view incrementation

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
        'USER' : '',
        'PASSWORD' : '',
        'HOST' : '',
        'PORT' : '',
    }
}
